.profile {
  grid-area: p;

  display: grid;

  grid-gap: 20px;
  grid-template-areas:
    "bg bg"
    "ava info"
    ". posts";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 0.75fr auto;
}

.bg {
  grid-area: bg;
  min-height: 140px;
}

.ava {
  grid-area: ava;
  width: 100px;
  height: 100px;
}

.info {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-area: info;

  padding: 10px 20px;

  background-color: #18181d;
  border-radius: 20px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.props {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.props__item {
  height: 100%;
  min-width: 25%;
}

.posts {
  grid-area: posts;

  display: grid;
  grid-template-areas:
    "new new"
    "wrapper wrapper";
  grid-template-columns: 1fr 50px;
  grid-template-rows: 50px auto;
  grid-gap: 20px;
}

.new {
  grid-area: new;

  display: flex;
  justify-content: space-between;
}

.new input[type="text"] {
  flex-grow: 1;
  margin-right: 20px;
  width: 70%;
}

.wrapper {
  grid-area: wrapper;
  display: flex;
  flex-direction: column-reverse;
}

.posts__item {
  margin-bottom: 20px;
}

.posts__item:first-child {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .props__item span {
    font-size: 14px;
  }
}

@media (max-width: 950px) {
  .profile {
    grid-template-areas:
      "bg bg"
      "ava info"
      "posts posts";
  }

  .info {
    padding: 20px;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 20px;
  }

  .props__item span {
    margin-bottom: 10px;
  }
}

@media (max-width: 790px) {
  .profile,
  .posts {
    grid-gap: 40px;
  }
}

@media (max-width: 640px) {
  .profile {
    grid-template-areas:
      "ava bg"
      "info info"
      "posts posts";
    grid-template-rows: 100px auto auto;
  }

  .bg {
    min-height: 0;
  }
}

@media (max-width: 500px) {
  .profile,
  .posts {
    grid-gap: 20px;
  }

  .profile {
    grid-template-rows: 1fr auto auto;
  }

  .new input[type="text"] {
    font-size: 12px;
  }

  .wrapper {
    margin-top: 20px;
  }

  .posts__item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .info {
    grid-gap: 0;
  }

  .props {
    justify-content: center;
  }

  .props__item {
    height: auto;
    margin-top: 20px;
  }

  .props__item span {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .profile {
    grid-template-areas:
      "ava ava"
      "info info"
      "posts posts";
  }

  .ava {
    margin: 0 auto;
    border-radius: 100px !important;
  }

  .bg {
    display: none;
  }
}
