.header
    grid-area: h

    padding: 30px 20px
    padding-bottom: 10px

    display: flex
    justify-content: space-between
    align-items: center

.logo, .settings
    cursor: pointer

.logo
    display: flex
    align-items: center

.icon
    width: 20px
    height: 20px

.text
    font-size: 18px
    margin-left: 10px

@media (max-width: 790px)
    .header
        padding: 30px 20px
        padding-bottom: 0
