* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/RobotoSlab-Regular/RobotoSlab-Regular.eot");
  src: url("./fonts/RobotoSlab-Regular/RobotoSlab-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/RobotoSlab-Regular/RobotoSlab-Regular.woff2") format("woff2"),
    url("./fonts/RobotoSlab-Regular/RobotoSlab-Regular.woff") format("woff"),
    url("./fonts/RobotoSlab-Regular/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/RobotoSlab-Medium/RobotoSlab-Medium.eot");
  src: url("./fonts/RobotoSlab-Medium/RobotoSlab-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/RobotoSlab-Medium/RobotoSlab-Medium.woff2") format("woff2"),
    url("./fonts/RobotoSlab-Medium/RobotoSlab-Medium.woff") format("woff"),
    url("./fonts/RobotoSlab-Medium/RobotoSlab-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto Slab", sans-serif;
  background-color: #050505;
  color: #fff;

  margin: 0 40px;
}

button {
  background-color: #18181d;
  color: #fff;

  appearance: none;
  border-style: none;
  outline: none;

  font-family: "Roboto Slab", sans-serif;

  cursor: pointer;
}

.app-wrapper {
  display: grid;

  grid-template-areas:
    "h h h"
    "m msg msg"
    "f msg msg";
  grid-template-columns: 250px 1fr;
  grid-gap: 20px;
}

@media (max-width: 950px) {
  .app-wrapper {
    grid-template-columns: 200px 1fr;
  }
}

@media (max-width: 790px) {
  .app-wrapper {
    grid-template-areas:
      "h h h"
      "m m m"
      "msg msg msg"
      "f f f";

    grid-gap: 40px;
  }
}

@media (max-width: 500px) {
  .app-wrapper {
    grid-gap: 20px;
  }
}
